// Variables de color
$primary-color: #007bff;
$secondary-color: #ff6347;
$background-color: #f4f7fc;
$text-color: #333;

// Variables de tipografía
$font-family: 'Roboto', sans-serif;
$font-size-base: 1rem;

// Espaciado
$spacing-unit: 16px;
